.cart-container {
    width: 500px;
    height: 100%;
    background-color: rgb(141, 141, 141);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    padding-left: 15px;
    animation: cartSlideIn 1s;
    overflow: scroll;
}

@keyframes cartSlideIn {
    0% {
        opacity: 0;
        transform: translateX(200px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.cart-container-hidden {
    display: none;
}

.item-container-in-cart {
    height: 200px;
    width: 400px;
    background-color: pink;
}

.item-information {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 380px;
    justify-content: space-evenly;
    background-color: violet;
}

.item-image {
    max-width: 40%;
    max-height: auto;
}

.item-quantity {
    max-width: 60%;
}